
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TradeGothicNML';
  src: url('/fonts/TradeGothicNormal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic';
  src: url('/fonts/TradeGothic.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'StarjediHollow';
  src: url('/fonts/Starjhol.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

#infinite-grid-menu-canvas {
  color: #1F1C2C;
  background-color: #1F1C2C;
  cursor: grab;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  outline: none;
}
  
canvas {
  color: #1F1C2C; 
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-white text-custom-darkGray font-sans antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .nav-link {
    @apply relative text-custom-darkGray text-sm md:text-base font-medium transition-all duration-300 ease-in-out;
  }

  .nav-link::after {
    @apply content-[''] absolute left-0 bottom-[-4px] h-[2px] w-0 bg-custom-darkGray transition-all duration-300 ease-in-out;
  }

  .nav-link:hover::after, .nav-link.active::after {
    @apply w-full;
  }

  .social-link {
    @apply text-custom-darkGray hover:text-custom-gray transition-colors duration-300 ease-in-out;
  }

  .project-card {
    @apply rounded-lg overflow-hidden relative bg-white shadow-sm h-[400px] transition-all duration-500 ease-out;
  }

  .project-card:hover {
    @apply shadow-md transform scale-[1.01];
  }

  .project-img {
    @apply w-full h-full object-cover transition-all duration-500 ease-out;
  }

  .project-card:hover .project-img {
    @apply scale-[1.03];
  }

  .project-overlay {
    @apply absolute inset-0 bg-black bg-opacity-0 flex items-end p-6 transition-all duration-500 ease-out;
  }

  .project-card:hover .project-overlay {
    @apply bg-opacity-10;
  }

  .project-title {
    @apply text-white font-medium text-lg opacity-0 transform translate-y-4 transition-all duration-500 ease-out;
  }

  .project-card:hover .project-title {
    @apply opacity-100 transform translate-y-0;
  }

  .main-section {
    @apply min-h-screen flex flex-col md:flex-row items-center justify-center;
  }

  .description-section {
    @apply w-full md:w-1/2 p-6 md:p-12 flex flex-col justify-center items-start space-y-6;
  }

  .carousel-section {
    @apply w-full md:w-1/2 h-screen overflow-hidden flex flex-col space-y-6 p-6;
  }
  
}
